@import '../../../../../styles/_alignment';
@import '../../../../../styles/_colors';

.authorBooksList {
  margin-top: 40px;
}

.header {
  @include centerAlignedHeader;
  color: $textColorLight;
  margin-bottom: 20px;
}
