@mixin slideInFromViewportBottom($height, $duration: 300ms) {
  $topEnd: calc(100% - #{$height});
  $topStart: 100%;
  $transition: top $duration;

  .slideInUp-enter {
    top: $topStart;
  }

  .slideInUp-enter-active {
    top: $topEnd;
    transition: $transition;
  }

  .slideInUp-exit {
    top: $topEnd;
  }

  .slideInUp-exit-active {
    top: $topStart;
    transition: $transition;
  }
}
