@mixin slideInFromViewportBottom($height, $duration: 300ms) {
  $topEnd: calc(100% - #{$height});
  $topStart: 100%;
  $transition: top $duration;

  &.slide-in-up-enter {
    top: $topStart;
  }

  &.slide-in-up-enter.slide-in-up-enter-active {
    top: $topEnd;
    transition: $transition;
  }

  &.slide-in-up-exit {
    top: $topEnd;
  }

  &.slide-in-up-exit.slide-in-up-exit-active {
    top: $topStart;
    transition: $transition;
  }
}
