@import './_alignment';
@import './_breakpoints';
@import './_spacing';

@mixin viewWrapper {
  padding-top: 0;

  @media only screen and (min-width: $breakpointSm) {
    padding-top: $spacingXL;
  }
}

@mixin listView {
  padding-top: 0;

  @media only screen and (min-width: $breakpointSm) {
    padding-top: $spacingMed;
  }
}

@mixin listViewHeader {
  @include centerAlignedHeader;
  margin-bottom: $spacingMed;
}
