.react-datepicker {
  // undo Shoelace's button styles
  button.react-datepicker__navigation {
    height: unset;
  }

  &-wrapper {
    input:read-only {
      background-color: white;
      cursor: pointer;
    }
  }
}
