.bookly-book-bucket {
  & + & {
    margin-top: 25px;
  }

  &__header {
    p {
      color: #777;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 2px;
      text-align: left;
    }

    hr {
      margin: 0;
    }
  }
}


@media only screen and (max-width: 639px) {
  .bookly-book-bucket {
    & + & {
      margin-top: 35px;
    }

    &__header {
      p {
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
}
