@import '../styles/_index';

.App {
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.bookly-detail-view {
  padding-top: 0;

  @media only screen and (min-width: $breakpointSm) {
    padding-top: $spacingXL;
  }
}

.bookly-list-view {
  padding-top: 0;

  @media only screen and (min-width: $breakpointSm) {
    padding-top: $spacingMed;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: $spacingMed;
  }

  .bookly-input-field {
    margin-bottom: $spacingXL;
  }
}
