@import '../../../../styles/_index';

$bgColorDefault: #d1609c;
$bgColorLight: #e485b7;

.header {
  @include boxShadowMed;

  align-items: center;
  background: $bgColorDefault;
  color: white;
  display: flex;
  left: 0;
  padding-left: 10px;
  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  height: 100%;
  padding: 5px;
}

.links {
  align-items: center;
  display: none;
  height: 100%;
  margin-left: 10px;
}

.link,
.link:active,
.link:hover,
.link:visited {
  color: white;
  text-decoration: none;
}

.link {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 10px;
}

.activeLink {
  background-color: $bgColorLight;
}

.link + .link {
  margin-left: 10px;
}

@media only screen and (min-width: $breakpointSm) {
  .links {
    display: flex;
  }
}
