@import '../../../../styles/_index';

.loginView .input-field:last-of-type {
  margin-bottom: 1rem;
}

.passwordResetLink {
  margin-bottom: .5rem;
  text-align: left;
}

// .otherClassName {
//   composes: className from "./style.css";
// }

