@import '../../../../styles/typography';

.loginView .input-field:last-of-type {
  margin-bottom: 1rem;
}

.passwordResetLink {
  margin-bottom: .5rem;
  text-align: left;
}

.createAccountLink {
  @include bigLink;
}
